.pad-20 {
  margin-top: 20px;
}
.shaded {
  background: #eee;
  padding: 20px 10px;
  border-radius: 50px 50px 0 0;
}
.small-dark-title {
  background: #002;
  color: #fff;
  padding: 6px 12px;
  display: inline-block;
}
#left-1 {
  padding-top: 10px;
}
img {
  max-width: 100%;
}
img:hover {
  opacity: 0.6;
}
