.pad-20
  // background: green
  margin-top 20px

.shaded
  background: #eee
  padding: 20px 10px
  border-radius: 50px 50px 0 0

.small-dark-title
  background: #002
  color: white
  padding: 6px 12px
  display: inline-block

#left-1
  padding-top: 10px
